root = true

[*.{cs}]
csharp_using_directive_placement    = inside_namespace : warning

dotnet_analyzer_diagnostic.severity = warning

dotnet_diagnostic.CA1002.severity   = none
dotnet_diagnostic.CA1003.severity   = warning
dotnet_diagnostic.CA1005.severity   = warning
dotnet_diagnostic.CA1008.severity   = warning
dotnet_diagnostic.CA1012.severity   = warning
dotnet_diagnostic.CA1014.severity   = warning
dotnet_diagnostic.CA1017.severity   = warning
dotnet_diagnostic.CA1019.severity   = warning
dotnet_diagnostic.CA1021.severity   = warning
dotnet_diagnostic.CA1024.severity   = warning
dotnet_diagnostic.CA1027.severity   = warning
dotnet_diagnostic.CA1028.severity   = warning
dotnet_diagnostic.CA1030.severity   = warning
dotnet_diagnostic.CA1031.severity   = none
dotnet_diagnostic.CA1032.severity   = none
dotnet_diagnostic.CA1033.severity   = none
dotnet_diagnostic.CA1034.severity   = warning
dotnet_diagnostic.CA1040.severity   = warning
dotnet_diagnostic.CA1041.severity   = warning
dotnet_diagnostic.CA1043.severity   = warning
dotnet_diagnostic.CA1044.severity   = warning
dotnet_diagnostic.CA1045.severity   = warning
dotnet_diagnostic.CA1046.severity   = warning
dotnet_diagnostic.CA1052.severity   = warning
dotnet_diagnostic.CA1054.severity   = warning
dotnet_diagnostic.CA1055.severity   = warning
dotnet_diagnostic.CA1056.severity   = warning
dotnet_diagnostic.CA1057.severity   = warning
dotnet_diagnostic.CA1058.severity   = warning
dotnet_diagnostic.CA1060.severity   = warning
dotnet_diagnostic.CA1062.severity   = none
dotnet_diagnostic.CA1063.severity   = warning
dotnet_diagnostic.CA1064.severity   = warning
dotnet_diagnostic.CA1065.severity   = warning
dotnet_diagnostic.CA1066.severity   = warning
dotnet_diagnostic.CA1200.severity   = warning
dotnet_diagnostic.CA1303.severity   = none
dotnet_diagnostic.CA1304.severity   = none
dotnet_diagnostic.CA1305.severity   = none
dotnet_diagnostic.CA1307.severity   = warning
dotnet_diagnostic.CA1308.severity   = warning
dotnet_diagnostic.CA1309.severity   = warning
dotnet_diagnostic.CA1501.severity   = warning
dotnet_diagnostic.CA1502.severity   = none
dotnet_diagnostic.CA1505.severity   = warning
dotnet_diagnostic.CA1506.severity   = none
dotnet_diagnostic.CA1507.severity   = warning
dotnet_diagnostic.CA1508.severity   = warning
dotnet_diagnostic.CA1509.severity   = warning
dotnet_diagnostic.CA1700.severity   = warning
dotnet_diagnostic.CA1707.severity   = none
dotnet_diagnostic.CA1713.severity   = warning
dotnet_diagnostic.CA1721.severity   = warning
dotnet_diagnostic.CA1724.severity   = warning
dotnet_diagnostic.CA1801.severity   = warning
dotnet_diagnostic.CA1802.severity   = warning
dotnet_diagnostic.CA1805.severity   = none
dotnet_diagnostic.CA1810.severity   = warning
dotnet_diagnostic.CA1812.severity   = warning
dotnet_diagnostic.CA1813.severity   = warning
dotnet_diagnostic.CA1814.severity   = warning
dotnet_diagnostic.CA1815.severity   = warning
dotnet_diagnostic.CA1819.severity   = warning
dotnet_diagnostic.CA1820.severity   = warning
dotnet_diagnostic.CA1822.severity   = none
dotnet_diagnostic.CA1823.severity   = warning
dotnet_diagnostic.CA1824.severity   = warning
dotnet_diagnostic.CA1825.severity   = warning
dotnet_diagnostic.CA1848.severity   = none
dotnet_diagnostic.CA1859.severity   = none
dotnet_diagnostic.CA1861.severity   = none
dotnet_diagnostic.CA2000.severity   = warning
dotnet_diagnostic.CA2002.severity   = warning
dotnet_diagnostic.CA2007.severity   = none
dotnet_diagnostic.CA2008.severity   = none
dotnet_diagnostic.CA2014.severity   = warning
dotnet_diagnostic.CA2016.severity   = warning
dotnet_diagnostic.CA2100.severity   = warning
dotnet_diagnostic.CA2109.severity   = warning
dotnet_diagnostic.CA2119.severity   = warning
dotnet_diagnostic.CA2153.severity   = warning
dotnet_diagnostic.CA2207.severity   = warning
dotnet_diagnostic.CA2213.severity   = warning
dotnet_diagnostic.CA2214.severity   = warning
dotnet_diagnostic.CA2216.severity   = warning
dotnet_diagnostic.CA2217.severity   = warning
dotnet_diagnostic.CA2225.severity   = warning
dotnet_diagnostic.CA2226.severity   = warning
dotnet_diagnostic.CA2227.severity   = warning
dotnet_diagnostic.CA2234.severity   = warning
dotnet_diagnostic.CA2235.severity   = warning
dotnet_diagnostic.CA2237.severity   = warning
dotnet_diagnostic.CA2243.severity   = warning
dotnet_diagnostic.CA2300.severity   = warning
dotnet_diagnostic.CA2301.severity   = warning
dotnet_diagnostic.CA2302.severity   = warning
dotnet_diagnostic.CA2305.severity   = warning
dotnet_diagnostic.CA2310.severity   = warning
dotnet_diagnostic.CA2311.severity   = warning
dotnet_diagnostic.CA2312.severity   = warning
dotnet_diagnostic.CA2315.severity   = warning
dotnet_diagnostic.CA2321.severity   = warning
dotnet_diagnostic.CA2322.severity   = warning
dotnet_diagnostic.CA2326.severity   = warning
dotnet_diagnostic.CA2327.severity   = warning
dotnet_diagnostic.CA2328.severity   = warning
dotnet_diagnostic.CA2329.severity   = warning
dotnet_diagnostic.CA2330.severity   = warning
dotnet_diagnostic.CA2350.severity   = warning
dotnet_diagnostic.CA2351.severity   = warning
dotnet_diagnostic.CA2352.severity   = warning
dotnet_diagnostic.CA2353.severity   = warning
dotnet_diagnostic.CA2354.severity   = warning
dotnet_diagnostic.CA2355.severity   = warning
dotnet_diagnostic.CA2356.severity   = warning
dotnet_diagnostic.CA2361.severity   = warning
dotnet_diagnostic.CA2362.severity   = warning
dotnet_diagnostic.CA3001.severity   = warning
dotnet_diagnostic.CA3002.severity   = warning
dotnet_diagnostic.CA3003.severity   = warning
dotnet_diagnostic.CA3004.severity   = warning
dotnet_diagnostic.CA3005.severity   = warning
dotnet_diagnostic.CA3006.severity   = warning
dotnet_diagnostic.CA3007.severity   = warning
dotnet_diagnostic.CA3008.severity   = warning
dotnet_diagnostic.CA3009.severity   = warning
dotnet_diagnostic.CA3010.severity   = warning
dotnet_diagnostic.CA3011.severity   = warning
dotnet_diagnostic.CA3012.severity   = warning
dotnet_diagnostic.CA3075.severity   = none
dotnet_diagnostic.CA3076.severity   = warning
dotnet_diagnostic.CA3077.severity   = warning
dotnet_diagnostic.CA5358.severity   = warning
dotnet_diagnostic.CA5361.severity   = warning
dotnet_diagnostic.CA5362.severity   = none
dotnet_diagnostic.CA5367.severity   = warning
dotnet_diagnostic.CA5375.severity   = warning
dotnet_diagnostic.CA5376.severity   = warning
dotnet_diagnostic.CA5377.severity   = warning
dotnet_diagnostic.CA5378.severity   = warning
dotnet_diagnostic.CA5380.severity   = warning
dotnet_diagnostic.CA5381.severity   = warning
dotnet_diagnostic.CA5382.severity   = warning
dotnet_diagnostic.CA5383.severity   = warning
dotnet_diagnostic.CA5386.severity   = warning
dotnet_diagnostic.CA5387.severity   = warning
dotnet_diagnostic.CA5388.severity   = warning
dotnet_diagnostic.CA5389.severity   = warning
dotnet_diagnostic.CA5390.severity   = warning
dotnet_diagnostic.CA5391.severity   = warning
dotnet_diagnostic.CA5392.severity   = warning
dotnet_diagnostic.CA5393.severity   = warning
dotnet_diagnostic.CA5394.severity   = warning
dotnet_diagnostic.CA5395.severity   = warning
dotnet_diagnostic.CA5396.severity   = warning
dotnet_diagnostic.CA5398.severity   = warning
dotnet_diagnostic.CA5399.severity   = warning
dotnet_diagnostic.CA5400.severity   = warning
dotnet_diagnostic.CA5401.severity   = warning
dotnet_diagnostic.CA5402.severity   = warning
dotnet_diagnostic.CA5403.severity   = warning

dotnet_diagnostic.IDE0001.severity  = suggestion
dotnet_diagnostic.IDE0002.severity  = suggestion
dotnet_diagnostic.IDE0003.severity  = suggestion
dotnet_diagnostic.IDE0004.severity  = suggestion
dotnet_diagnostic.IDE0005.severity  = suggestion
dotnet_diagnostic.IDE0007.severity  = suggestion
dotnet_diagnostic.IDE0008.severity  = suggestion
dotnet_diagnostic.IDE0009.severity  = suggestion
dotnet_diagnostic.IDE0010.severity  = suggestion
dotnet_diagnostic.IDE0011.severity  = suggestion
dotnet_diagnostic.IDE0016.severity  = suggestion
dotnet_diagnostic.IDE0017.severity  = suggestion
dotnet_diagnostic.IDE0018.severity  = suggestion
dotnet_diagnostic.IDE0019.severity  = suggestion
dotnet_diagnostic.IDE0020.severity  = suggestion
dotnet_diagnostic.IDE0021.severity  = suggestion
dotnet_diagnostic.IDE0022.severity  = suggestion
dotnet_diagnostic.IDE0023.severity  = suggestion
dotnet_diagnostic.IDE0024.severity  = suggestion
dotnet_diagnostic.IDE0025.severity  = suggestion
dotnet_diagnostic.IDE0026.severity  = suggestion
dotnet_diagnostic.IDE0027.severity  = suggestion
dotnet_diagnostic.IDE0028.severity  = suggestion
dotnet_diagnostic.IDE0029.severity  = suggestion
dotnet_diagnostic.IDE0030.severity  = suggestion
dotnet_diagnostic.IDE0031.severity  = suggestion
dotnet_diagnostic.IDE0032.severity  = suggestion
dotnet_diagnostic.IDE0033.severity  = suggestion
dotnet_diagnostic.IDE0034.severity  = suggestion
dotnet_diagnostic.IDE0035.severity  = suggestion
dotnet_diagnostic.IDE0036.severity  = suggestion
dotnet_diagnostic.IDE0037.severity  = suggestion
dotnet_diagnostic.IDE0038.severity  = suggestion
dotnet_diagnostic.IDE0039.severity  = suggestion
dotnet_diagnostic.IDE0040.severity  = suggestion
dotnet_diagnostic.IDE0041.severity  = suggestion
dotnet_diagnostic.IDE0042.severity  = suggestion
dotnet_diagnostic.IDE0044.severity  = suggestion
dotnet_diagnostic.IDE0045.severity  = suggestion
dotnet_diagnostic.IDE0046.severity  = suggestion
dotnet_diagnostic.IDE0047.severity  = suggestion
dotnet_diagnostic.IDE0048.severity  = suggestion
dotnet_diagnostic.IDE0049.severity  = suggestion
dotnet_diagnostic.IDE0050.severity  = suggestion
dotnet_diagnostic.IDE0051.severity  = suggestion
dotnet_diagnostic.IDE0052.severity  = suggestion
dotnet_diagnostic.IDE0053.severity  = suggestion
dotnet_diagnostic.IDE0054.severity  = suggestion
dotnet_diagnostic.IDE0055.severity  = suggestion
dotnet_diagnostic.IDE0056.severity  = suggestion
dotnet_diagnostic.IDE0057.severity  = suggestion
dotnet_diagnostic.IDE0058.severity  = suggestion
dotnet_diagnostic.IDE0059.severity  = suggestion
dotnet_diagnostic.IDE0060.severity  = suggestion
dotnet_diagnostic.IDE0061.severity  = suggestion
dotnet_diagnostic.IDE0062.severity  = suggestion
dotnet_diagnostic.IDE0063.severity  = suggestion
dotnet_diagnostic.IDE0064.severity  = suggestion
dotnet_diagnostic.IDE0065.severity  = suggestion
dotnet_diagnostic.IDE0066.severity  = suggestion
dotnet_diagnostic.IDE0070.severity  = suggestion
dotnet_diagnostic.IDE0071.severity  = suggestion
dotnet_diagnostic.IDE0072.severity  = suggestion
dotnet_diagnostic.IDE0073.severity  = suggestion
dotnet_diagnostic.IDE0074.severity  = suggestion
dotnet_diagnostic.IDE0075.severity  = suggestion
dotnet_diagnostic.IDE0076.severity  = suggestion
dotnet_diagnostic.IDE0077.severity  = suggestion
dotnet_diagnostic.IDE0078.severity  = suggestion
dotnet_diagnostic.IDE0079.severity  = suggestion
dotnet_diagnostic.IDE0080.severity  = suggestion
dotnet_diagnostic.IDE0081.severity  = suggestion
dotnet_diagnostic.IDE0082.severity  = suggestion
dotnet_diagnostic.IDE0083.severity  = suggestion
dotnet_diagnostic.IDE0084.severity  = suggestion
dotnet_diagnostic.IDE0090.severity  = suggestion
dotnet_diagnostic.IDE0100.severity  = suggestion
dotnet_diagnostic.IDE0110.severity  = suggestion
dotnet_diagnostic.IDE0140.severity  = suggestion
dotnet_diagnostic.IDE0160.severity  = none
dotnet_diagnostic.IDE0270.severity  = suggestion
dotnet_diagnostic.IDE0290.severity  = none
dotnet_diagnostic.IDE0300.severity  = suggestion
dotnet_diagnostic.IDE0301.severity  = suggestion
dotnet_diagnostic.IDE0305.severity  = none
dotnet_diagnostic.IDE1005.severity  = suggestion
dotnet_diagnostic.IDE1006.severity  = suggestion

dotnet_diagnostic.SA0000.severity   = none
dotnet_diagnostic.SA0001.severity   = none
dotnet_diagnostic.SA1005.severity   = none
dotnet_diagnostic.SA1027.severity   = none
dotnet_diagnostic.SA1028.severity   = none
dotnet_diagnostic.SA1028.severity   = none
dotnet_diagnostic.SA1101.severity   = none
dotnet_diagnostic.SA1107.severity   = none
dotnet_diagnostic.SA1115.severity   = none
dotnet_diagnostic.SA1116.severity   = none
dotnet_diagnostic.SA1118.severity   = none
dotnet_diagnostic.SA1137.severity   = none
dotnet_diagnostic.SA1404.severity   = none
dotnet_diagnostic.SA1404.severity   = none
dotnet_diagnostic.SA1413.severity   = none
dotnet_diagnostic.SA1413.severity   = none
dotnet_diagnostic.SA1501.severity   = none
dotnet_diagnostic.SA1502.severity   = none
dotnet_diagnostic.SA1512.severity   = none
dotnet_diagnostic.SA1512.severity   = none
dotnet_diagnostic.SA1515.severity   = none
dotnet_diagnostic.SA1518.severity   = none
dotnet_diagnostic.SA1600.severity   = none
dotnet_diagnostic.SA1600.severity   = none
dotnet_diagnostic.SA1601.severity   = none
dotnet_diagnostic.SA1601.severity   = none
dotnet_diagnostic.SA1602.severity   = none
dotnet_diagnostic.SA1602.severity   = none
dotnet_diagnostic.SA1604.severity   = none
dotnet_diagnostic.SA1605.severity   = none
dotnet_diagnostic.SA1606.severity   = none
dotnet_diagnostic.SA1607.severity   = none
dotnet_diagnostic.SA1608.severity   = none
dotnet_diagnostic.SA1610.severity   = none
dotnet_diagnostic.SA1611.severity   = none
dotnet_diagnostic.SA1612.severity   = none
dotnet_diagnostic.SA1613.severity   = none
dotnet_diagnostic.SA1614.severity   = none
dotnet_diagnostic.SA1615.severity   = none
dotnet_diagnostic.SA1616.severity   = none
dotnet_diagnostic.SA1617.severity   = none
dotnet_diagnostic.SA1618.severity   = none
dotnet_diagnostic.SA1619.severity   = none
dotnet_diagnostic.SA1620.severity   = none
dotnet_diagnostic.SA1621.severity   = none
dotnet_diagnostic.SA1622.severity   = none
dotnet_diagnostic.SA1623.severity   = none
dotnet_diagnostic.SA1623.severity   = none
dotnet_diagnostic.SA1624.severity   = none
dotnet_diagnostic.SA1625.severity   = none
dotnet_diagnostic.SA1629.severity   = none
dotnet_diagnostic.SA1633.severity   = none
dotnet_diagnostic.SA1634.severity   = none
dotnet_diagnostic.SA1635.severity   = none
dotnet_diagnostic.SA1636.severity   = none
dotnet_diagnostic.SA1637.severity   = none
dotnet_diagnostic.SA1638.severity   = none
dotnet_diagnostic.SA1640.severity   = none
dotnet_diagnostic.SA1641.severity   = none
dotnet_diagnostic.SA1642.severity   = none
dotnet_diagnostic.SA1642.severity   = none
dotnet_diagnostic.SA1643.severity   = none
dotnet_diagnostic.SA1643.severity   = none
dotnet_diagnostic.SA1648.severity   = none
dotnet_diagnostic.SA1649.severity   = none
dotnet_diagnostic.SA1652.severity   = none

[*.{cs,xml}]
indent_style             = tab
insert_final_newline     = false
trim_trailing_whitespace = true

[*Test*.cs]
dotnet_diagnostic.CA1812.severity   = none